@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Poppins: var(--font-geist-sans);
  --font-Inter: var(--font-geist-mono);
}

@theme {
  --color-main: #336940;
}

.wrapper {
  @apply max-w-7xl mx-auto
}
